.home {
    margin-top: 16px;
    margin-bottom: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    margin-top: 0;

}

.cardBody {
    padding: 1rem;
}

.landscape {
    width: 100%;
}

.headLine {
    font-size: 1.25rem;
}

.creatorTag {
    font-size: 0.75rem;
    margin-top: 5px;
    margin-bottom: 5px;

}

.articleText {
    position: relative;

}

@media (min-width: 840px) {

    .catLabel {
        position: absolute;
    }
}

@media (max-width: 840px) {

    img {
        width: 100%;
        max-height: 100%;
    }
}

.link {
    margin-top: 1rem;

}

.link a{
    text-decoration: none;
    color: #a73489;
}

.catLabel {
    margin-top: 1rem;
    padding: 5px;
    font-size: 0.7rem;
    bottom: 2px;
}

.description {
    font-size: 1rem;
}

.gridRight {
    padding: 0 !important;
}