.topappbar {

    padding-top: 5px;
    padding-bottom: 5px;
    background: hsla(0, 0%, 100%, .97);

}

.title {
    color: black;
}

.logoContainer {
    width: 48px;
    height: 48px;
}

.logo {
    display: block;
    width: 100%;
    margin-top: 5px;
}

